.row {
  margin-top:.5rem;
}

.container-sm > .row > :nth-child(1) {
  text-align:left;
}

.container-sm > .row > :nth-child(2) {
  padding-right: 3rem !important;
}

.container-sm > .row:has(:only-child) > *{
  text-align:center;
}

.progress-bar{
  transition: width 0.5s linear;
}

.progress-bar {
  width: 0%;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: 'Times New Roman', sans-serif;
    /* font-size: 14px; */
    line-height: 1;
    width:min(100vw,300px);
    color: rgb(25, 25, 25);
    margin:auto;
}


input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 1px solid black;
}

input:focus {
  border: 2px solid blue;
  outline: none;
}


.container1 {
    margin-top:5%;
    display:grid;
    width:min(100vw,600px);
    grid-template-columns: 1fr;
}

.container1 > div {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.two1{
    display: grid;
    grid-template-columns: 4fr 2fr;
    width:100%;
}

.one1{
    display: grid;
    text-align:center;
    line-height:1;
    width:100%;
    margin-top:1rem !important;
}

.buttons1{
  grid-template-columns: 2fr 1fr
}



/* .container1 > div > :nth-child(1){
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  text-align:left;
  display:inline;
  margin-top:auto;
  line-height: 1;
}

.container1 > div > :nth-child(2){
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  text-align:left;
  line-height: 1;
  font-size:large
} */

div.one1{
  line-height: 1;
}

